---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import { calculateReadingTime } from "@/utils/readingTime";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, body, data, filePath } = Astro.props;

const { title, description, ...props } = data;
const readingTime = body ? calculateReadingTime(body) : undefined;
---

<li class="my-8">
  <a
    href={getPath(id, filePath)}
    class:list={[
      "inline-block text-lg font-semibold text-foreground",
      "decoration-dashed underline-offset-4 hover:text-accent hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  <Datetime {...props} {readingTime} class="mt-1" />
  <p class="mt-2">{description}</p>
</li>
