---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import { SITE } from "@/config";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
  stealThisPost?: boolean;
} & HTMLAttributes<"footer">;

const {
  noMarginTop = false,
  stealThisPost = false,
  class: className,
  ...attrs
} = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center justify-between sm:flex-row-reverse",
    ]}
  >
    <Socials />
    {
      stealThisPost ? (
        <a
          href="https://github.com/dhpwd/danhopwood.com"
          target="_blank"
          rel="noopener noreferrer"
          class="my-2 hover:text-accent"
        >
          Steal this post → CC BY 4.0 · Code MIT
        </a>
      ) : (
        <span class="my-2">
          &#169; {currentYear} {SITE.author}
        </span>
      )
    }
  </div>
</footer>
